@use '../scss/abstract' as *;


.header {
    margin-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
    margin-bottom: 5.1875rem;

    & > button {
        background-color: $clr-white;
        font-family: var(--fontfamily);
        font-weight: 700;
        color: $clr-darkBlue;
        font-size: 0.875rem;
        line-height: 1.5rem;

        padding: 12px 15px;
        border: 1px solid $clr-darkBlue;
        border-radius: 0.375rem;
    }

    @media (min-width:48rem) {
        margin-inline: 2.4375rem;
        margin-top: 3.25rem;
    }

    @media (min-width: 59.375rem) {
        margin-inline: 10.375rem;
        margin-top: 3.875rem;
    }

}

