$clr-darkBlue: hsl(219 43% 16%);
$clr-grey: hsl(218 20% 36%);
$clr-cream: hsl(30 33% 93%);
$clr-white: hsl(30 29% 97%);
$clr-morado: hsl(264 100% 69%);
$clr-lila: hsl(292 76% 54%);
$clr-mostaza: hsl(31 100% 65%);